@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 50% 2%;
    --foreground: 210 40% 98%;
    --card: 350 26% 4%;
    --card-foreground: 210 40% 98%;
    --popover: 350 26% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 346 53% 52%;
    --primary-foreground: 210 40% 98%;
    --secondary: 30 3% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 30 3% 25%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 338 19% 56%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 30 3% 25%;
    --input: 30 3% 25%;
    --ring: 346 53% 52%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 50% 2%;
    --foreground: 210 40% 98%;
    --card: 350 26% 4%;
    --card-foreground: 210 40% 98%;
    --popover: 350 26% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 346 53% 52%;
    --primary-foreground: 210 40% 98%;
    --secondary: 30 3% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 30 3% 25%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 338 19% 56%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 30 3% 25%;
    --input: 30 3% 25%;
    --ring: 338 19% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
