@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 180 100% 25.1%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 348 100% 86.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 180 100% 25.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 100% 12.4%;
    --foreground: 210 40% 98%;
    --card: 210 100% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 210 100% 12.4%;
    --popover-foreground: 210 40% 98%;
    --primary: 180 100% 25.1%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 100% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 100% 20%;
    --muted-foreground: 210 40% 60%;
    --accent: 348 100% 86.5%;
    --accent-foreground: 348 100% 86.5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 210 100% 20%;
    --input: 210 100% 20%;
    --ring: 348 100% 86.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
